[core]
autocrlf = input
eol = lf
editor = vim
excludesfile = ~/.gitignore_global

[alias]
a = add
aa = add --all
b = branch
bd = branch --delete
bdd = branch -D
bdf = branch --delete --force
bm = branch --merged
c = checkout
ca = commit --all
cam = commit --amend
caam = commit --all --amend
cama = commit --amend --all
caamne = commit --all --amend --no-edit
caneam = commit --all --no-edit --amend
camane = commit --amend --all --no-edit
camnea = commit --amend --no-edit --all
cneama = commit --no-edit --amend --all
cneaam = commit --no-edit --all --amend
cb = checkout -b
cg = config --global
cge = config --global --edit
cm = checkout master
d = diff
dm = diff master
dt = difftool
lg = log --graph --oneline --all
p = pull
pr = pull --rebase
prs = pull --recurse-submodules
pt = push --tag
rv = review
rd = review --download
rh = reset --hard
rs = reset --soft
rbo = rebase --onto
rbm = rebase master
rbc = rebase --continue
rba = rebase --abort
ry = review --yes
s = stash
sl = stash list
sp = stash pop
ssa = stash save
ssh = stash show
ssp = stash show --patch
