[alias]
	a = add
	aa = add --all
	b = branch
	bd = branch --delete
	bdd = branch -D
	bdf = branch --delete --force
	bm = branch --merged
	c = checkout
	ca = commit --all
	caam = commit --all --amend
	caamne = commit --all --amend --no-edit
	cam = commit --amend
	cama = commit --amend --all
	camane = commit --amend --all --no-edit
	camnea = commit --amend --no-edit --all
	caneam = commit --all --no-edit --amend
	cb = checkout -b
	cg = config --global
	cge = config --global --edit
	cm = checkout main
	cneaam = commit --no-edit --all --amend
	cneama = commit --no-edit --amend --all
	cp = cherry-pick
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	d = diff
	dm = diff main
	dt = difftool
	lf = ls-files -v
	lg = log --graph --abbrev-commit --decorate --format='%C(auto)%h%C(reset) %an %C(cyan)%ar%C(reset) %s %C(auto)%d%C(reset)' --all
	nsw = update-index --no-skip-worktree
	p = pull
	pf = push --force
	pr = pull --rebase
	prs = pull --recurse-submodules
	pt = push --tag
	ra = remote add
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbm = rebase main
	rbo = rebase --onto
	rd = review --download
	rh = reset --hard
	rr = remote --remove
	rs = reset --soft
	rv = remote --verbose
	rw = review
	ry = review --yes
	s = stash
	sl = stash list
	sm = stash --message
	sp = stash pop
	ss = status --short --branch
	ssh = stash show
	ssp = stash show --patch
	sw = update-index --skip-worktree
	swl = !git ls-files -v . | grep ^S
	ui = update-index
[core]
	autocrlf = input
	editor = vim
	eol = lf
	excludesfile = ~/.gitignore_global
	fsmonitor = true
[init]
	defaultBranch = main
[log]
	date = relative
[push]
	followtags = true
	default = current
	autoSetupRemote = true
[grep]
	lineNumber = true
