[core]
autocrlf = input
eol = lf
editor = vim
excludesfile = ~/.gitignore_global
fsmonitor = true

[alias]
a = add
aa = add --all
b = branch
bd = branch --delete
bdd = branch -D
bdf = branch --delete --force
bm = branch --merged
c = checkout
ca = commit --all
caam = commit --all --amend
caamne = commit --all --amend --no-edit
cam = commit --amend
cama = commit --amend --all
camane = commit --amend --all --no-edit
camnea = commit --amend --no-edit --all
caneam = commit --all --no-edit --amend
cb = checkout -b
cg = config --global
cge = config --global --edit
cm = checkout master
cneaam = commit --no-edit --all --amend
cneama = commit --no-edit --amend --all
d = diff
dm = diff master
dt = difftool
lg = log --graph --oneline --all
p = pull
pf = push --force
pr = pull --rebase
prs = pull --recurse-submodules
pt = push --tag
rb = rebase
rba = rebase --abort
rbc = rebase --continue
rbm = rebase master
rbo = rebase --onto
rd = review --download
rh = reset --hard
rs = reset --soft
rv = review
ry = review --yes
s = stash
sl = stash list
sp = stash pop
sm = stash --message
ssh = stash show
ssp = stash show --patch
